/.cproject~
/.project~
/AutonomousCommand.cpp~
/AutonomousCommand.h~
/build.properties~
/build.xml~
/Chassis.cpp~
/Chassis.h~
/Drive.cpp~
/Drive.h~
/language.settings.xml~
/OI.cpp~
/OI.h~
/org.eclipse.cdt.managedbuilder.core.prefs~
/Robot.cpp~
/Robot.h~
/RobotMap.cpp~
*.h~
